<div class='container d-flex justify-content-center'>
	<form
		class='col-sm-6'
		action='/admin/edit-product/{{product._id}}'
		method='post'
		enctype='multipart/form-data'
	>
		<div class='mb-3'>
			<input
				type='text'
				name='name'
				value='{{product.name}}'
				placeholder='Name'
				class='form-control'
				id='exampleInputEmail1'
				aria-describedby='emailHelp'
			/>
		</div>
		<div class='mb-3'>
			<input
				type='text'
				name='description'
				value='{{product.description}}'
				placeholder='{{Description}}'
				class='form-control'
				id='exampleInputexampleInputPassword1'
			/>
		</div>
		<div class='mb-3'>
			<input
				type='text'
				class='form-control'
				name='mrp'
				value='{{product.mrp}}'
			/>
			<input
				type='text'
				hidden
				name='price'
				value='{{product.price}}'
				placeholder='Price'
				class='form-control'
				id='exampleInputPassword1'
			/>
			<input
			required
				type='text'
				name='discount'
				value='{{product.discount}}'
				placeholder='Discount %'
				class='form-control'
				id='exampleInputPassword1'
			/>
		</div>
		<div class='mb-3'>
			<select class='form-select w-100 p-2 m-2' name='categories' aria-label='Category Selection'>
				{{! <option selected>Category</option> }}
				<option
					selected
					value='{{product.categories}}'
				>{{current_category.name}}</option>
				{{#each categories}}
					<option value='{{this._id}}'>{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		<div class='mb-3'>
			<img
				src='/product-images/{{product._id}}.jpg'
				width='100px'
				height='100px'
				alt='product-image'
				srcset=''
			/>
			<input
				type='file'
				name='image'
				value=''
				class='form-control'
				id='exampleInput'
				class='form-control'
				id='exampleInputPasswordexampleInputPassword1 '
			/>
		</div>
		<button type='submit' class='btn btn-primary'>Submit</button>
	</form>
</div>