<section>
    <div class='container-fluid'>
        <div class='row'>
            <div class='container d-flex justify-content-end mt-0 mb-5'>
                {{! <a href="/admin/add-user" class="btn btn-success mx-3">Add User</a> }}
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <table id='exampleOrderAdmin' class='table table-striped' style='width:100%'>
                    <thead>
                        <tr>
                            <th scope='col'>Date</th>
                            <th class='text-center' scope='col'>Address</th>

                            <th class='text-center' scope='col'>Amount</th>
                            <th class='text-center' scope='col'>Payment</th>
                            <th class='text-center' scope='col'>Current Status</th>
                            <th class='text-center notExport' scope='col'>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td>{{this.date}}</td>
                            <td class='text-center'>{{this.deliveryDetails.address}}</td>

                            <td class='text-center'>{{this.totalAmount}}</td>
                            <td class='text-center'>{{this.paymentMethod}}</td>
                            <td class='text-center'>{{this.paymentStatus}}</td>

                            <td>
                                <div class='dropdown'>
                                    <button class='btn btn-secondary dropdown-toggle' type='button'
                                        id='dropdownMenuButton1' data-bs-toggle='dropdown' aria-expanded='false'>
                                        {{this.paymentStatus}}
                                    </button>
                                    <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
                                        <a onclick="changeOrderStatus('{{this._id}}','shipped')" class="dropdown-item"
                                            href="#">Shipped</a>
                                            <a onclick="changeOrderStatus('{{this._id}}','delivered')" class="dropdown-item"
                                            href="#">Delivered</a>
                                    </ul>
                                    
                                </div>
                            </td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>
    function changeOrderStatus(orderId,
        status) {
        console.log(orderId)
        $.ajax({
            url: '/admin/order/change-order-status',
            data: {
                order: orderId,
                status: status,
            },
            method: 'post',
            success: (response) => {
                location.reload()
            }
        })
    }
  
</script>