{{!-- <section>
	<div class='container'>
		<div class='container'>
			<div class='row'>
				<a href='/admin/add-product' class='mt-5'><div
						class='float-end btn btn-success'
					></div></a>
			</div>
		</div>
		<table class='table'>
			<thead>
				<tr>
					<th class='' scope='col'>#</th>
					<th class='' scope='col'>Name</th>
					<th class='' scope='col'>Address</th>
					<th class='' scope='col'>Total</th>
					<th class='' scope='col'>Date</th>
					<th class='' scope='col'>Payment</th>
					<th class='' scope='col'>Status</th>
					<th class='' scope='col'>Option</th>
				</tr>
			</thead>
			<tbody>
				{{#each orders}}
					<tr>
						<th class='' scope='row'>{{@index}}</th>
						<td class=''>{{this.user.username}}</td>
						<td class=''>{{this.deliveryDetails.address}}</td>
						<td class=''>{{this.totalAmount}}</td>
						<td> {{this.date}}</td>
						<td> {{this.paymentMethod}}</td>
						<td>{{this.status}}</td>
						<td class=''>
							<a
								class='btn btn-primary'
								href='/admin/order/details/{{this._id}}'
							>Details</a>
						</td>
					</tr>
				{{/each}}

			</tbody>
		</table>
	</div>
</section> --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/orders.css" />
    <!-- CSS only -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
</head>

<body>
    <p class="orders">ORDERS</p>
    <table class="table table-borderless order-table m-5" style="border: 1px solid #000" id="table_id" class="display">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
                <th scope="col">Payment</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
			{{#each orders}}
            <tr>
                
                <td><img src="/product-images/{{this.productDetails._id}}.jpg" alt="" style="width: 100px; height: 100px" /></td>
                <td>{{this.productDetails.name}}</td>
                <td>₹{{this.productDetails.price}}</td>
                <td>{{this.date}}</td>
                <td>{{this.paymentMethod}}</td> 
                <td>{{this.products.status}}</td>
                <td> {{#ifEquals this.products.status "cancelled"}}
                    🚫 {{else}}
                <a href="/order/cancel/{{this._id}}/{{this.productDetails._id}}" class="btn">Cancel</a>
                {{/ifEquals}} </td>
            </tr>
            {{!-- <tr>
                <th scope="row">
                    <img src="" alt="" style="width: 10px; height: 10px" />
                </th>
                <td>dav</td>
                <td>$45</td>
                <td>06/05/2022</td>
                <td>COD</td>
                <td>Completed</td>
                <td><button>Cancel</button></td>
            </tr>
            <tr>
                <th scope="row">
                    <img src="" alt="" style="width: 10px; height: 10px" />
                </th>
                <td>Otto</td>
                <td>$45</td>
                <td>06/05/2022</td>
                <td>COD</td>
                <td>Completed</td>
                <td><button>Cancel</button></td>
            </tr> --}}
			{{/each}}
        </tbody>
    </table>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js">
    </script>

</body>
<script>
    $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
</html>