{{>user}}

<link rel='stylesheet' href='/stylesheets/orders.css' />
<!-- CSS only -->

<link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css' />
<style>
.tub{
        margin-left: 15rem !important;
}
</style>
</head>

<body>
    <p class='orders'>ORDERS</p>
    <table class='table table-borderless order-table m-5 tub' style='border: 1px solid #000' id='table_id'  >
        <thead>
            <tr>
                <th scope='col'>Image</th>
                <th scope='col'>Name</th>
                <th scope='col'>Price</th>
                <th scope='col'>Date</th>
                <th scope='col'>Payment</th>
                <th scope='col'>Status</th>
                <th scope='col'>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>

                <td><img src='/product-images/{{this.productDetails._id}}.jpg' alt=''
                        style='width: 100px; height: 100px' /></td>
                <td>{{this.productDetails.name}}</td>
                <td>₹{{this.productDetails.price}}</td>
                <td>{{this.date}}</td>
                <td>{{this.paymentMethod}}</td>
                <td>{{this.products.status}}</td>
                <td>
                    {{#ifEquals this.products.status 'cancelled'}}
                    🚫
                    {{else}}
                    <a href=ble-ber/cancel/{{this._id}}/{{this.productDetails._id}}' class='btn'>Cancel</a>
                    {{/ifEquals}}
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>

    <!-- JavaScript Bundle with Popper -->

    <script type='text/javascript' charset='utf8' src='https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js'>
    </script>

</body>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>

</html>